name: go

concurrency:
  group: ${{ github.workflow }}/${{ github.ref_name }}

on:
  push:
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '.github/workflows/go.yml'
    branches:
      - main
  pull_request:
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '.github/workflows/go.yml'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          
      - name: Run linter
        run: go tool staticcheck ./...

      - name: Run tests
        run: go test -race ./...
